
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: var(--cor-4);
}

header .info {
    font-size: 16px;
}

header .foto {
    margin-left: 10px;
}

header .foto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pet-page .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.pet-page .menu-item:first-child {
    margin-top: 0;
}

.pet-page .menu-item:last-child {
    margin-bottom: 0;
}

.pet-page .menu-item .menu-item__foto img {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
}

.pet-page .menu-item .menu-item__nome {
    margin-left: 10px;
}